<div class="flex justify-between max-w-7xl mx-auto p-4 shadow-lg">
  <h1>{{shop.name}}</h1>
  <ul class="flex space-x-4">
    {% for link in linklists.main-menu.links -%}
      <li class="hover:text-blue-400">{{ link.title | link_to: link.url }}</li>
    {%- endfor %}
  </ul>
</div>

{% schema %}
  {
    "name":"header",
    "tag": "section",
    "class": "header",
    "settings":[
    ],
    "presets":[{"name":"default-header"}]
  }
{% endschema %}